<h1>メニュー情報追加</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @menu %>
      <%= form_with(model: @menu, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "メニュー名" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :regular_cost, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :regular_cost, class: "form-control shadow rounded", placeholder: "定価" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "メニュー詳細情報" %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <%= link_to '[ Cancel and return to articles listing ]', menus_path, class: "text-info" %>
    </div>
  </div>
</div>