<h1 class="mt-4 mb-4"><%= t '.title' %></h1>

<div class="mt-4 mb-4">
  <%= render 'search_form'%>
</div>

<% if !@results.exists? %>
  <p class="mt-5"><%= t '.not_found' %></p>
<% else %>
  <div class="row">
    <div class="col-9">  
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col"><%= Ingredient.human_attribute_name :name %></th>
            <th scope="col"><%= t '.carrying_stock' %></th>
            <th scope="col"><%= t '.working_stock' %></th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |stock| %>
            <tr>
              <th scope="row"><%= stock.ingredient.name %></th>
              <td><%= stock.amount %></td>
              <td><%= stock.amount %></td>
              <td><%= link_to t('defaults.show'), stock_path(stock), class: "btn btn-sm btn-outline-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>