<h1 class="mt-4 mb-4">在庫一覧 (検索結果) </h1>

<div class="mt-4 mb-4">
  <%= render 'search_form'%>
</div>

<% if !@results.exists? %>
  <p class="mt-5">該当する食材はありません.</p>
<% else %>
  <div class="row">
    <div class="col-9">  
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">食材名</th>
            <th scope="col">繰り越し在庫量</th>
            <th scope="col">営業日在庫量</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |stock| %>
            <tr>
              <th scope="row"><%= stock.ingredient.name %></th>
              <td><%= stock.amount %></td>
              <td><%= stock.amount %></td>
              <td><%= link_to '詳細', stock_path(stock), class: "btn btn-sm btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>