<h2 class="mt-4 mb-4">発注履歴</h2>

<div class="col-9">
  <%= line_chart @purchase_graph_data %>
</div>


<h3 class="mt-4 mb-4">食品別情報</h3>

<div class="row text-center">
  <div class="col-9">  
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">食品名</th>
          <th scope="col">日付</th>
          <th scope="col">発注量</th>
          <th scope="col">金額</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <th scope="row"><%= purchase.ingredient.name %></th>
            <td><%= purchase.purchase_date %></td>
            <td><%= purchase.amount %></td>
            <td><%= purchase.ingredient.purchase_cost * purchase.amount %></td>
            <td><%= link_to '詳細', purchase_path(purchase), class: "btn btn-sm btn-outline-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>