<div class="container">
  <div class="container-fluid px-4">
    <h1 class="mt-4 mb-4"><%= t '.title' %></h1>

    <div class="card mb-4">
      <div class="card-body">
          Chart.js is a third party plugin that is used to generate the charts in this template. The charts below have been customized - for further customization options, please visit the official
          <div class="text-center">
            <%= link_to "発注情報追加", new_purchase_path, class: "btn btn-lg btn-outline-secondary" %>
          </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
          <!-- <i class="fas fa-chart-area me-1"></i> -->
          発注情報
      </div>
      <div class="mt-4">
        <%= line_chart @purchase_graph_data %>
      </div>
      <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
      <div class="card-footer small text-muted">最終更新日： hoge </div>
    </div>

    <h3 class="mt-4"><%= t '.summary' %></h3>

    <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-table me-1"></i>
          DataTable Example
      </div>
      <div class="card-body">
          <table class="table table-bordered", id="datatablesSimple">
            <thead>
              <tr>
                <th scope="col"><%= Purchase.human_attribute_name :ingredient_name %></th>
                <th scope="col"><%= Purchase.human_attribute_name :purchase_date %></th>
                <th scope="col"><%= Purchase.human_attribute_name :amount %></th>
                <th scope="col">到着予定日</th>
                <th scope="col"><%= Purchase.human_attribute_name :purchase_cost%></th>
                <th scope="col">到着状況</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <% @purchases.each do |purchase| %>
                <tr>
                  <th scope="row"><%= purchase.ingredient.name %></th>
                  <td><%= l purchase.purchase_date, format: :short %></td>
                  <td><%= purchase.amount %></td>
                  <td><%= purchase.arrival_date %></td>
                  <td><%= purchase.ingredient.purchase_cost * purchase.amount %></td>
                  <td>
                    <% if purchase.arrival_check %>
                      <%= link_to '到着済み', arrival_check_purchases_path(purchase_id: purchase), data: {confirm: "未到着に戻すと在庫の情報が更新されるため，在庫情報の確認をしてください."} %>
                    <% else %>
                      <%= link_to '未到着', arrival_check_purchases_path(purchase_id: purchase), data: {confirm: "到着済みにすると在庫の情報が更新されます."} %>
                    <% end %>
                  </td>
                  <td><%= link_to t('defaults.show'), purchase_path(purchase), class: "btn btn-sm btn-outline-success" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%= paginate @purchases %>
      </div>
    </div>
  </div>
</div>