<h2 class="mt-4 mb-4"><%= t '.title' %></h2>

<div class="col-9">
  <%= line_chart @purchase_graph_data %>
</div>


<h3 class="mt-4 mb-4"><%= t '.summary' %></h3>

<div class="row text-center">
  <div class="col-9">  
    <table class="table table-bordered table-hover mt-4">
      <thead>
        <tr>
          <th scope="col"><%= Purchase.human_attribute_name :ingredient_name %></th>
          <th scope="col"><%= Purchase.human_attribute_name :purchase_date %></th>
          <th scope="col"><%= Purchase.human_attribute_name :amount %></th>
          <th scope="col"><%= Purchase.human_attribute_name :waste_date %></th>
          <th scope="col"><%= Purchase.human_attribute_name :purchase_cost%></th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <% @purchases.each do |purchase| %>
          <tr>
            <th scope="row"><%= purchase.ingredient.name %></th>
            <td><%= l purchase.purchase_date, format: :short %></td>
            <td><%= purchase.amount %></td>
            <td><%= purchase.waste_date %></td>
            <td><%= purchase.ingredient.purchase_cost * purchase.amount + purchase.delivery_cost %></td>
            <td><%= link_to t('defaults.show'), purchase_path(purchase), class: "btn btn-sm btn-outline-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @purchases %>

  </div>
</div>