<h1 class="mt-4 mb-4"><%= t '.title' %></h1>

<div class="row">
  <div class="col-9">  
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col"><%= Ingredient.human_attribute_name :name %></th>
          <th scope="col"><%= Ingredient.human_attribute_name :purchase_cost %></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
          <tr>
            <th scope="row"><%= ingredient.name %></th>
            <td><%= ingredient.purchase_cost %></td>
            <td>
              <%= link_to t('defaults.edit'), edit_ingredient_path(ingredient), class: "btn btn-sm btn-outline-success" %>
              <%= link_to t('defaults.delete'), ingredient_path(ingredient), class: "btn btn-sm btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>