<div class="container-fluid px-4">
  <h1 class="mt-4 mb-4"><%= t '.title' %></h1>

  <% if !@alert_ingredient_name_list.empty? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">発注が必要な食材/商品があります</h4>
      <% @alert_ingredient_name_list.each do |ingredient_name| %>
        <p><%= ingredient_name %>の在庫量を確認してください</p>
      <% end %>
      <hr>
      <p class="mb-0">管理しているデータと実際の在庫量に大きな違いがある場合は，使用量を確認する必要があります</p>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-body">
            食材の情報を登録することができます．各食材は購入単位とその価格を入力します．アラート値を入力することで，在庫量がその値を下回った際に警告メッセージを表示することができます．
            <div class="text-center mt-4">
              <%= link_to "食材情報の新規登録", new_ingredient_path, class: "btn btn-lg btn-outline-secondary" %>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-body">
            廃棄した食材の情報を登録することができます．登録した情報は，在庫量に反映されます．
            <div class="text-center mt-4">
              <%= link_to t('.waste_path'), wastes_path, class: "btn btn-lg btn-outline-secondary" %>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
        食材名を入力して表示するデータを絞り込むことが可能です．
        <div class="mt-4 mb-4">
          <%= render 'search_form' %>
        </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
        一覧
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="datatablesSimple">
        <thead>
          <tr>
            <th scope="col"><%= Ingredient.human_attribute_name :name %></th>
            <th scope="col"><%= Ingredient.human_attribute_name :stock %></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @ingredients.each do |ingredient| %>
            <tr>
              <th scope="row"><%= ingredient.name %></th>
              <td>
                <% if ingredient.stock <= ingredient.threshold.to_i %>
                  <p class="text-danger"><%= ingredient.stock %></p>
                <% else %>
                  <%= ingredient.stock %>
                <% end %>
              </td>
              <td>
                <%= link_to t('defaults.show'), ingredient_path(ingredient), class: "btn btn-sm btn-outline-secondary" %>
                <%= link_to t('defaults.edit'), edit_ingredient_path(ingredient), class: "btn btn-sm btn-outline-success" %>
                <%= link_to t('defaults.delete'), ingredient_path(ingredient), class: "btn btn-sm btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>