<h2 class="text-center mt-4 font-italic text-weight-border"><%= @ingredient.name %></h2>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-body">
          <p><%= "#{Ingredient.human_attribute_name :purchase_cost} #{@ingredient.purchase_cost}" %></p>
          <p><%= "#{Ingredient.human_attribute_name :unit_amount} : #{@ingredient.unit_amount}" %></p>
          <p><%= "#{Ingredient.human_attribute_name :unit_cost} : #{@ingredient.decorate.unit_cost}" %></p>
          <p><%= "#{Ingredient.human_attribute_name :stock} : #{@ingredient.stock}" %></p>

          <%= link_to t('defaults.edit'), edit_ingredient_path(@ingredient), class: "btn btn-outline-info" %>
          <%= link_to t('defaults.delete'), ingredient_path(@ingredient), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
        </div>
      </div>
      <div class="mb-3 text-center">
        <%= link_to t('defaults.back'), ingredients_path, class: "text-info" %>
      </div>
    </div>
  </div>
</div>