<div class="container-fluid px-4">
  <h1 class="mt-4">仕入れ先情報</h1>

  <div class="card mb-4">
    <div class="card-body">
        仕入れ先店舗の連絡先，発注時の配送費が登録できます．配送費を登録しておくと発注データ登録時に発注費として計算されます．
        <div class="text-center mt-4">
          <%= link_to '新規登録', new_supplier_path, class: "btn btn-lg btn-outline-secondary" %>
        </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
        仕入れ先 一覧
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="datatablesSimple">
        <thead>
          <tr>
            <th scope="col">仕入れ先</th>
            <th scope="col">電話番号</th>
            <th scope="col">配送費</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <% @suppliers.each do |supplier| %>
            <tr>
              <th scope="row"><%= supplier.name %></th>
              <td><%= supplier.phone_number %></td>
              <td><%= supplier.delivery_cost %></td>
              <td>
                <%= link_to t('defaults.edit'), edit_supplier_path(supplier), class: "btn btn-sm btn-outline-success" %>
                <%= link_to t('defaults.delete'), supplier_path(supplier), class: "btn btn-sm btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>