<h1 class="mt-4 mb-4">売上一覧</h1>
<div class="jumbotron mt-4">
  <h1 class="display-4"><%= Date.today %> </h1>
  <h2 class="lead"><%= "売上高  : #{@total_sales}"%></h2>
  <h2 class="lead"><%= "粗利益  : #{@gross_profit}"%></h2>
  <h2 class="lead"><%= "営業利益 : #{@total_sales - @gross_profit}"%></h2>
  <hr class="my-4">
</div>
<h2 class="mt-4 mb-4">商品別売上</h2>
<div class="row">
  <div class="col-9">  
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">メニュー名</th>
          <th scope="col">日付</th>
          <th scope="col">個数</th>
          <th scope="col">売上</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <% @sales.each do |sale| %>
          <tr>
            <th scope="row"><%= sale.menu.name %></th>
            <td><%= sale.date %></td>
            <td><%= sale.quantity %></td>
            <td><%= sale.menu.regular_cost * sale.quantity %></td>
            <td><%= link_to '詳細', sale_path(sale), class: "btn btn-sm btn-success" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>