<h1 class="mt-4 mb-4 text-center"><%= t '.title' %></h1>

<div class="row justify-content-center">
  <div class="col-8">
    <%= render 'shared/errors', obj: @form %>
    <%= form_with(model: [@form_date, @form], url: sales_path, method: :post, class: "p-3 mb-3  rounded", local: true) do |form| %>
      <div class="form-group row">
        <%= form.label "日付", class: "col-2 col-form-label" %>
        <div class="col-3">
          <%= form.date_field :form_date, class: "form-control rounded", value: Date.today %>
        </div>
      </div>

      <table class="table table-bordered", id="datatablesSimple">
        <thead>
          <tr>
            <th scope="col">メニュー</th>
            <th scope="col">個数</th>
          </tr>
        </thead>

        <%= form.fields_for :sales do |f| %>
        <tbody>
          <tr>
            <td>
              <div class="form-group row col-10">
                <%= f.collection_select :menu_id, @menus, :id, :name, {selected: @menus[f.index].id}, class: "form-control rounded" %>
              </div>
            </td>
            <td>
              <div class="form-group row col-5">
                <%= f.number_field :quantity, class: "form-control rounded", id: "sale-num-form-#{@menus[f.index].id}" %>
              </div>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>

      <div class="form-group row justify-content-center">
        <%= form.submit class: "btn btn-outline-dark btn-lg", data: {confirm: "売上を登録すると在庫情報が更新されます"} %>
      </div>
    <% end %>

    <div class="mb-3 text-center">
      <%= link_to t('defaults.back'), sales_path, class: "text-info" %>
    </div>
  </div>
</div>