<h1 class="mt-4 mb-4"><%= t '.title' %></h1>

<%= render 'search_form' %>

<% if !@results.exists? %>
  <p class="mt-4"><%= t '.not_found' %></p>
<% else %>
  <div class="jumbotron mt-4">
    <h1 class="display-4"><%= @results.first.date %> </h1>
    <h2 class="lead"><%= "#{t '.total_sales'}  : #{@total_sales}"%></h2>
    <h2 class="lead"><%= "#{t '.gross_profit'}  : #{@gross_profit}"%></h2>
    <h2 class="lead"><%= "#{t '.operating_income'} : #{@total_sales - @gross_profit}"%></h2>
    <hr class="my-4">
  </div>
  <h2 class="mt-4 mb-4"><%= t '.per_menu' %></h2>
  <div class="row">
    <div class="col-9">  
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col"><%= Menu.human_attribute_name :name %></th>
            <th scope="col"><%= Sale.human_attribute_name :date %></th>
            <th scope="col"><%= Sale.human_attribute_name :quantity %></th>
            <th scope="col"><%= t '.total_sales'%></th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |sale| %>
            <tr>
              <th scope="row"><%= sale.menu.name %></th>
              <td><%= sale.date %></td>
              <td><%= sale.quantity %></td>
              <td><%= sale.menu.regular_cost * sale.quantity %></td>
              <td><%= link_to t('defaults.edit'), sale_path(sale), class: "btn btn-sm btn-outline-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>