<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to t('.title'), root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to t('.sales'), sales_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('.purchases'), purchases_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('.menus'), menus_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('.ingredients'), ingredients_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', logout_path, class: "nav-link", method: :delete %>
        </li>
      </ul>
    </div>
  </div>
  </nav>