<div id="layoutSidenav_nav">
	<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Top page</div>
				<div>
					<%= link_to root_path, class: "nav-link" do %>
						<div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
						ダッシュボード
					<% end %>
				</div>
				<div class="sb-sidenav-menu-heading">Management Data</div>
				<div>
					<%= link_to sales_path, class: "nav-link" do %>
						<div class="sb-nav-link-icon"><i class="fa-solid fa-cash-register"></i></div>
						<%= t('.sales') %>
					<% end %>
				</div>
				<div>
					<%= link_to purchases_path, class: "nav-link" do %>
						<div class="sb-nav-link-icon"><i class="fa-solid fa-cart-shopping"></i></div>
						<%= t('.purchases') %>
					<% end %>
				</div>
				<div>
					<%= link_to menus_path, class: "nav-link" do %>
						<div class="sb-nav-link-icon"><i class="fa-solid fa-mug-saucer"></i></div>
						<%= t('.menus') %>
					<% end %>
				</div>
				<div>
					<%= link_to ingredients_path, class: "nav-link" do %>
						<div class="sb-nav-link-icon"><i class="fa-solid fa-apple-whole"></i></div>
						<%= t('.ingredients') %>
					<% end %>
				</div>
				<div>
					<%= link_to suppliers_path, class: "nav-link" do %>
						<div class="sb-nav-link-icon"><i class="fa-solid fa-shop"></i></div>
						仕入れ先情報
					<% end %>
				</div>
			</div>
		</div>
		<div class="sb-sidenav-footer">
			<% if current_user %>
				<%= current_user.last_name %>でログイン中です
			<% else %>
				<p>未ログイン</p>
			<% end %>
		</div>
	</nav>
</div>